*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
  overflow: hidden;
}

@keyframes fadeToBlack {
from { background-color: #e5e5e5; }
to { background-color: #000000; }
}

canvas.fade {
  animation: fadeToBlack 2s ease-in-out forwards;
}
